/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}

/*header{
  margin: auto;
}*/
body,.subtitle{
  font-family: PT Serif, serif;
}

body{
  color: #414141;
  font-size: 18px;
}

h1{
  font-family: Cinzel, serif;
  font-size: 96px;
  line-height: 5rem;
  padding-top: 10rem;
  margin-bottom: 0;
  color: black;
}


.text-center{
  text-align: center;
}

.subtitle{
  font-size: 36px;
  color: #7D7D7D;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
  width: auto;
}

.lead{
  font-size: 21px;
  padding-top: 70px;
  line-height: 35px;
}

.link{
  color: #CA5E10;
}

#paragraph{
  line-height: 32px;
  min-width: 630px;
}