/* fonts */
/* 
    font-family: 'Cinzel', serif;
    font-family: 'PT Serif', serif;
*/

.container {
  width: 90%;
  max-width: 39rem;
  margin: 0 auto;
}
body,.subtitle{
  font-family: PT Serif, serif;
}

body{
  color: #414141;
  font-size: 18px;
}

h1{
  font-family: Cinzel, serif;
  font-size: 96px;
  line-height: 5rem;
  padding-top: 50px;
  color: black;
  padding-bottom: 1px;

}

.text-center{
  text-align: center;
}

.subtitle{
  color: #7D7D7D;
  font-size: 36px;
  text-align: center;
  margin-left: 200px;
  margin-right: 200px;
}
